<div class="wrapper home">
    <h1 style="margin-bottom:0px;">SPIN</h1>
    <h3>Record Marketplace</h3>
    <div class="home-content">
    <img src="https://images.unsplash.com/photo-1602848597941-0d3d3a2c1241?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=350&q=80s" style="width: 300px;">
    <h4>Buy & Sell Vinyl Online</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada, magna in euismod facilisis, justo ex bibendum nibh, vitae consequat risus dui nec odio. Donec tristique libero sed tellus pulvinar, eu euismod nibh mattis. Aliquam metus nunc, convallis id rhoncus quis, efficitur vel mi. Cras vitae aliquam nulla, eu fermentum erat. Quisque eget dignissim nisl. Proin vel purus sit amet enim ornare aliquam. Nulla viverra diam eu tempor tempor. Proin urna augue, pharetra a varius ut, tincidunt a lacus. Suspendisse libero tortor, ultricies in eros et, lobortis varius lacus. Donec at orci quis felis congue gravida mollis eu ex. Nunc mollis orci eu purus tempus, non finibus dui aliquet.</p>
    </div>
</div>